#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Performance Area*/
#interaction-zone {
  flex: 1;
  position: relative;
  background: black;
  border: 2px solid #222;
  background:
    linear-gradient(to right, blue, red), linear-gradient(to top, black, white);
  background-blend-mode: screen;
}

/* Labeling the effect areas in the interaction-zone*/
.zone {
  position: absolute;
  color: white;
  font-size: 14px;
  opacity: 0.6;
}

.tl {
  top: 40px;
  left: 40px;
  color: black;
  font-size: 150%;
}
.tr {
  top: 40px;
  right: 40px;
  color: black;
  font-size: 150%;
}
.bl {
  bottom: 40px;
  left: 40px;
  color: black;
  font-size: 150%;
}
.br {
  bottom: 40px;
  right: 40px;
  color: black;
  font-size: 150%;
}

.center {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*Botton dock*/
#fruit-dock {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background: #111;
}

/* Fruit Styling */
.fruit {
  width: 120px;
  height: 120px;
  cursor: grab;
  transition: transform 0.2s;
}

.fruit:hover {
  transform: scale(1.1);
}
